# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXT_PUBLIC_SUPPORTED_LOCALES="fr,en"
NEXT_PUBLIC_BASE_URL="https://sovisuplus.example.com"

NEXT_PUBLIC_WS_SCHEME=ws
NEXT_PUBLIC_WS_HOST=sovisuplus.local
NEXT_PUBLIC_WS_PORT=3001
NEXT_PUBLIC_WS_PATH=/

NEXT_PUBLIC_ORCID_URL = 'https://orcid.org'
NEXT_PUBLIC_ORCID_CLIENT_ID = 'client-id'
NEXT_PUBLIC_ORCID_SCOPES=''
ORCID_CLIENT_SECRET = 'secret'

DATABASE_URL="postgresql://sovisuplus:*********@localhost:5432/sovisuplus?schema=public"
DATABASE_URL_TEST="postgresql://sovisuplus_test:sovisuplus_test@localhost:5433/sovisuplus_test?schema=public"

KEYCLOAK_CLIENT_ID="sovisuplus"
KEYCLOAK_CLIENT_SECRET="credentials_from_keycloak_here"

# For this to work, add sovisuplus.local and keycloak.local to your /etc/hosts file
# SAML2 authentication won't work with localhost domain names
KEYCLOAK_ISSUER="http://keycloak.local:8080/realms/my-keycloak-realm-here"
#KEYCLOAK_ISSUER="https://keycloak.local:8443/realms/my-keycloak-realm-here"
KEYCLOAK_PUBLIC_URL="http:///keycloak.local:8080/realms/my-keycloak-realm-here"
#KEYCLOAK_PUBLIC_URL="https://keycloak.local:8443/realms/my-keycloak-realm-here"
NEXTAUTH_URL="http://sovisuplus.local:3000/api/auth"
#NEXTAUTH_URL="https://sovisuplus.local:3000/api/auth"

NEXTAUTH_SECRET="[generate your secret with : openssl rand -base64 32]"
# Only for development with self-signed ssl certificates
#NODE_TLS_REJECT_UNAUTHORIZED=0

JWT_TOKEN_EXPIRATION_HOURS=12


AMQP_USER="guest"
AMQP_PASSWORD="guest"
AMQP_HOST="localhost"
AMQP_PORT="5672"
AMQP_QUEUE_NAME="sovisuplus"
AMQP_EXCHANGE_NAME="graph"

GRAPHQL_ENDPOINT_ENABLED="true"
GRAPHQL_ENDPOINT_URL="http://localhost:4000/graphql"
GRAPHQL_API_KEY_ENABLED="true"
GRAPHQL_API_KEY="************"

PERSPECTIVES_ROLES_FILTER=["author ","author of introduction, etc. ","author of afterword, colophon, etc. ","author in quotations or text abstracts ","editor ","editor of compilation ","translator" ]
PUBLICATION_LIST_ROLES_FILTER=["analyst ","annotator ","author ","author in quotations or text abstracts ","author of afterword, colophon, etc. ","author of introduction, etc. ","cartographer ","commentator for written text ","compiler ","composer ","conceptor ","contributor ","curator ","degree committee member ","dissertant ","donor ","editor ","editor of compilation ","film director ","film editor ","former owner ","illustrator ","interviewee ","interviewer ","opponent ","organizer ","other ","photographer ","praeses ","production personnel ","project director ","publisher director ","rapporteur ","scientific advisor ","software developer ","sound designer ","speaker ","stage manager ","thesis advisor ","translator ","writer of accompanying material"]

# Parameters for the connection to CRISalid vocab search API
VOCABS_URL="http://localhost:8000/api/v0/autocomplete/"
NEXT_PUBLIC_AVAILABLE_VOCABS="jel,aat,acm,elsst,euroscivoc,pactols"

DEFAULT_SELF_SCOPED_ROLES="document_editor,document_fetcher,document_merger"

NEXT_PUBLIC_CAS_URL=https://cas.ccsd.cnrs.fr/cas
#NEXT_PUBLIC_CAS_URL=https://cas-preprod.ccsd.cnrs.fr/cas

NEXT_PUBLIC_INSTITUTION_NAME="University of Example"

FIELD_ENC_PRIMARY_KID="k2026_02"
FIELD_ENC_KEYS_JSON='{"k2026_01":"<openssl rand -base64 32>","k2026_02":"<openssl rand -base64 32>"}'

NEXT_PUBLIC_HAL_CREATE_ID_URL="https://doc.hal.science/identifiant-auteur-idhal-cv/"

NEXT_PUBLIC_WARN_MISSING_IDENTIFIER_TYPES="idhals,orcid"

NEXT_PUBLIC_SUPPORT_SERVICE_EMAIL_ADDR="mail@example.com"

NEXT_PUBLIC_ABOUT_PAGE_URL="https://univ.example.com/about"

NEXT_PUBLIC_TERMS_PAGE_URL="https://univ.example.com/terms"

NEXT_PUBLIC_COMMUNITY_PAGE_URL="https://crisalid.org/"