NEXT_PUBLIC_SUPPORTED_LOCALES="fr,en"

WS_SCHEME=ws
WS_HOST=sovisuplus.example.com
WS_PORT=3001
WS_PATH=/socket
WS_INTERNAL_PORT=3001

ORCID_URL = 'https://orcid.org'
ORCID_CLIENT_ID = 'client-id'
ORCID_CLIENT_SECRET = 'secret'
NEXT_PUBLIC_BASE_URL="https://sovisuplus.example.com"

AMQP_USER="guest"
AMQP_PASSWORD="guest"
AMQP_HOST="testhost"
AMQP_PORT="5672"
AMQP_QUEUE_NAME="sovisuplus"
AMQP_EXCHANGE_NAME="graph"

VOCABS_URL="http://localhost:8000/api/v0/autocomplete/"
NEXT_PUBLIC_AVAILABLE_VOCABS="jel,aat,acm,mesh"
AVAILABLE_VOCABS="jel,aat,acm,mesh"

DEFAULT_SELF_SCOPED_ROLES="document_editor,document_fetcher,document_merger"