.ellipsisTextContainer {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease-in-out;
  max-height: 4em;
}

.ellipsisExpanded {
  -webkit-line-clamp: unset;
  white-space: normal;
  max-height: 500px; /* Arbitrary large value to allow expansion */
}

.ellipsisCollapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Adjust */
  -webkit-box-orient: vertical;
  max-height: 3em; /* Adjust */
  opacity: 1;
}

.ellipsisExpandButton {
  cursor: pointer;
  margin-left: 5px;
}
